---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-app-deployment
  labels:
    name: result-app
    author: manasa
spec:
  replicas: 2
  selector:
    matchLabels:
      name: result-app
      author: manasa
  template:
    metadata:
      name: result-app-pod
      labels:
        name: result-app
        author: manasa
    spec:
      containers:
        - name: result-app-pod
          image: dockersamples/examplevotingapp_result
          ports:
            - containerPort: 80
...
